<div class="row mt-2">
    <div class="col-sm-11">
        <select class="browser-default custom-select"
                asp-items="ViewBag.FacilityPlayers" id="facility-player">           
        </select>
    </div>
    <div class="col-sm-1" id="remove-slot">
        <span>
            <a href="#" onclick="removeSlot(this)" class="text-warning"><i class="far fa-times-circle fa-lg"></i></a>
        </span>
    </div>
</div>