@model Sidekick.Model.FacilityUserChangePassword
@using Sidekick.Admin.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpCtxtAc;
@using Sidekick.Model;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Startup.cshtml";

    ISession session = _httpCtxtAc.HttpContext.Session;
    var _adminUCtxt = session.GetObjectFromJson<AdminUserContext>("adminUserContext");
    var _facilityUCtxt = session.GetObjectFromJson<FacilityUserContext>("facilityUserContext");
}

<div class="container">
    <div class="Login text-center">

        <form class="text-center" asp-action="ChangePassword" method="post">
            <img src="~/img/logo.svg" class="img-fluid mb-5" />

            <div class="md-form md-outline">
                <div asp-validation-summary="ModelOnly" class="text-warning"></div>
                <span class="label-error text-danger small">@TempData["ErrorMessage"]</span>
                <br />

                @if (_facilityUCtxt != null)
                {
                    if (_facilityUCtxt.FacilityUserInfo.IsLocked == true)
                    {
                        <span class="label-error text-danger small">Change your initial password to verify your account.</span>
                    }
                }

            </div>

            <div class="md-form md-outline">
                <input type="password" id="input-pwd" class="form-control custom-form" placeholder="Current password" asp-for="CurrentPassword">
                <span toggle="#input-pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <span asp-validation-for="CurrentPassword" class="label-error text-danger small"></span>
            </div>

            <div class="md-form md-outline">
                <input type="password" id="input-pwd2" class="form-control custom-form" placeholder="New password" asp-for="NewPassword">
                <span toggle="#input-pwd2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <span asp-validation-for="NewPassword" class="label-error text-danger small"></span>
            </div>

            <div class="md-form md-outline">
                <input type="password" id="input-pwd3" class="form-control custom-form" placeholder="Confirm password" asp-for="ConfirmPassword">
                <span toggle="#input-pwd3" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <span asp-validation-for="ConfirmPassword" class="label-error text-danger small"></span>
            </div>

            <button class="btn login-button mb-4 w-100" type="submit">Submit</button>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $("#successBtn").on('click', function () {
            window.location.replace(BASEPATH + "/SAdmin/AddShop");
        });

    </script>
}