@model Sidekick.Model.UserChangePassword
@using Sidekick.Admin.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpCtxtAc;
@using Sidekick.Model;

@{
    ViewData["Title"] = "Modifier le mot de passe ";
    Layout = "~/Views/Shared/_Startup.cshtml";

    ISession session = _httpCtxtAc.HttpContext.Session;
    var _adminUCtxt = session.GetObjectFromJson<AdminUserContext>("adminUserContext");
}

<div class="container">
    <div class="Login">

        <form class="text-center" asp-action="ChangePassword" method="post">
            <img src="~/img/logo.svg" class="img-fluid mb-5" />

            <div class="md-form md-outline">
                <div asp-validation-summary="ModelOnly" class="text-warning"></div>
                <span class="label-error text-danger small">@TempData["ErrorMessage"]</span>
                <br />
                @if (_adminUCtxt != null)
                {
                    //if (_adminUCtxt.AdminInfo.IsVerified == false)
                    //{
                    //    <span class="label-error text-danger small">Changer votre mot de passe pour vérifier votre compte</span>
                    //}
                }

            </div>

            <div class="md-form md-outline">
                <input type="password" id="input-pwd" class="form-control" placeholder="Mot de passe actuel" asp-for="CurrentPassword">
                <span toggle="#input-pwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <span asp-validation-for="CurrentPassword" class="label-error text-danger small"></span>
            </div>

            <div class="md-form md-outline">
                <input type="password" id="input-pwd2" class="form-control" placeholder="Nouveau mot de passe" asp-for="NewPassword">
                <span toggle="#input-pwd2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <span asp-validation-for="NewPassword" class="label-error text-danger small"></span>
            </div>

            <div class="md-form md-outline">
                <input type="password" id="input-pwd3" class="form-control" placeholder="Confirmer le mot de passe" asp-for="ConfirmPassword">
                <span toggle="#input-pwd3" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                <span asp-validation-for="ConfirmPassword" class="label-error text-danger small"></span>
            </div>

            <button class="btn login-button mb-4 w-100" type="submit">Mettre à jour</button>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $("#successBtn").on('click', function () {
            window.location.replace(BASEPATH + "/SAdmin/AddShop");
        });

    </script>
}