@model Sidekick.Model.AdminForgotPassword

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Startup.cshtml";
}

<div class="container">
    <div class="Login">

        <form class="text-center" asp-action="ForgotPassword" method="post">
            <img src="~/img/logo.svg" class="img-fluid mb-5" />

            <p class="white-text">Enter your email address to get your new password</p>

            <span asp-validation-for="Email" class="label-error text-danger small"></span>
            <span class="label-error text-danger small">@TempData["ErrorMessage"]</span>

            <div class="md-form md-outline">
                <input type="email" class="form-control custom-form mb-4" placeholder="email address" asp-for="Email">
                <span class="far fa-envelope field-icon"></span>
            </div>

            <button class="btn login-button m-0 w-100" type="submit">Submit</button>
            <br /><br />
            <a href="~/Home" class="link-color text-center">Go back to login page?</a>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    </script>
}