@using Sidekick.Model

@{
    ViewData["Title"] = "Réinitialiser le mot de passe ";
    Layout = "~/Views/Shared/_Startup.cshtml";
}

<div class="container">
    <div class="Login">
        <form class="text-center">
            <img src="~/img/check-icon.svg" class="img-fluid mb-4" />
            <h5 class="font-weight-normal mt-3 mb-4" style="color:white">Your password has been reset.</h5>
            <p style="color:white">An email has been sent with your new password.</p>
            <a class="btn login-button mt-4 mb-4 w-100" href="~/Home/">Login</a>

            @*  @if (viewbag.accounttype == "2") //sa
                {

                }

                @if (viewbag.accounttype == "1") //sh
                {
                    <a class="btn login-button mt-4 mb-4 w-100" href="~/shop/">fait</a>
                }*@
        </form>
    </div>
</div> 