@model Sidekick.Model.SetupConfiguration.Size.TeamSize;

<div class="modal fade"
     id="deleteSizeCategoryModal"
     tabindex="-1"
     aria-labelledby="deleteSizeCategoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Setup" asp-action="DeleteSize" method="post">
                <div class="modal-body px-5 py-0">
                    <div class="text-center">
                        <h5 class="modal-title mb-3" id="appendDeleteSizeText"></h5>
                        <input type="text" id="delete-size-id" asp-for="SizeId" hidden />
                    </div>
                </div>
                <div class="modal-footer border-0 text-center">
                    <input type="submit" value="Delete" class="btn login-button btn-padding" id="ok-location-btn" />
                </div>
            </form>
        </div>
    </div>
</div>