@model ErrorViewModel
@{
    ViewData["Title"] = "Erreur!";
}

<div class="mt-5">
    <h1 class="text-danger">Oops!</h1>
    <h3 class="text-danger">Sorry, something went wrong while processing your request.</h3>
    <h4 class="text-danger">Please try again. If error still persist contact the support team.</h4>
    <h5 class="text-danger">Thank you.</h5>
</div>
